@font-face {
    font-family: "JosefinSans-Bold";
    src: url("../../_shared_assets/fonts/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: "JosefinSans-ExtraLight";
    src: url("../../_shared_assets/fonts/JosefinSans-ExtraLight.ttf");
}

#main {
    font-family: "JosefinSans-Bold";
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#foreground {
    width: 1920px;;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#bgStarting, #bgEnding {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
    user-select: none; /* Disable text selection */
}

#center, #side {
    z-index: 2;
    position: absolute;
}

#countdown {
    font-family: "JosefinSans-Bold";
    z-index: 1;
    font-size: 1009.174px;
    position: absolute;
    transform: scaleX(0.65437) translateY(84px);
    transform-origin: center;
    color: #A52626;
    opacity: 0.4;
    user-select: none; /* Disable text selection */
}

#controller {
    position:absolute;
    left:1920px;
    top:0px;
    background-color:rgb(47, 0, 0);
    width:500px;
    height:1080px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#buttons {
    width:90%;
    height:90%;
    display:flex;
    flex-direction: column;
}

.title {
    font-family: "JosefinSans-ExtraLight";
    color:white;
    font-size:24px;
    user-select: none; /* Disable text selection */
}

.button {
    width:100%;
    height:fit-content;
    background-color: rgb(149, 59, 45);
    margin-block:10px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "JosefinSans-Bold";
    color:white;
    font-size:50px;
    padding-top: 5px;
    margin-bottom:15px;
    text-align: center;
    padding-block: 10px;
    user-select: none; /* Disable text selection */
    transition: ease-in-out 500ms;
}

#showcaseScene {
    position: absolute;
    top:0px;
    left:0px;
    z-index:-2;
}
#sceneTransition {
    font-family: "JosefinSans-Bold";
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#transitionVideo {
    width:1740px; 
    height:900px; 
    object-fit: cover;
    z-index: 3;
}

#showcase_asset_1, #showcase_asset_2 {
    position: absolute;
    z-index:4;
    opacity: 0;
}

#bgEnding {
    opacity:0;
}

/* KEYFRAMES */
@keyframes countdownMove {
    0% {transform: scaleX(0.65437) translateY(84px);
        opacity: 0.4;}
    20% {transform: scaleX(0.65437) translateY(44px);
        opacity: 0.4;}
    100% {transform: scaleX(0.65437) translateY(1200px);
        opacity: 0;}
}

@keyframes showcaseMove {
    0% {transform: scale(1);
        clip-path: inset(0 0 0 0);}
    100% {transform: scale(0.906458333);
        clip-path: inset(43px 0 43px 0);}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInDown {
    0% {opacity: 0; transform: translateY(-100px);}
    100% {opacity: 1; transform: translateY(0px);}
}

@keyframes fadeInUp {
    0% {opacity: 0; transform: translateY(100px);}
    100% {opacity: 1; transform: translateY(0px);}
}

@keyframes endingIn {
    0% {clip-path: polygon(0% 0%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);}
    100% {clip-path: polygon(0% 0%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);}
}

@keyframes endingScaleIn {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}

}

@keyframes endingScaleInTwo {
    0% {transform: scale(0);}
    100% {transform: scale(1);}

}

@keyframes opacityFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}